<header class="header">
	<mat-toolbar class="toolbar">
		<nav class="nav">
			<div class="d-flex align-center">
				<button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="menu-icon">
					<mat-icon>menu</mat-icon>
				</button>
		
				<h1 class="app-title"> {{ title }} </h1>
			</div>

			<ul class="nav-links">
				<li routerLink="tickets" routerLinkActive="active"> Tickets </li>
				<li routerLink="users" routerLinkActive="active"> Users </li>
			</ul>
		</nav>

		<div class="profile" [matMenuTriggerFor]="userMenu">
			<img src="assets/images/avatar.jpg" alt="Avatar" class="avatar">
			<mat-icon style="cursor: pointer;">expand_more</mat-icon>
		</div>
		
		<mat-menu #userMenu="matMenu">
			<button class="logout-btn" mat-menu-item (click)="onLogout()">
				 <mat-icon>logout</mat-icon>Logout
			</button>
		</mat-menu>

		<mat-menu #mobileMenu="matMenu">
			<nav class="mobile-nav">
				<ul>
					<li routerLink="tickets" routerLinkActive="active"> Tickets </li>
					<li routerLink="users" routerLinkActive="active"> Users </li>
				</ul>
			</nav>
		</mat-menu>
	</mat-toolbar>
</header>
